<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.zhang.lab">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".timer.CountDownActivity" />
        <activity android:name=".listview.NonScrollableListViewActivity" />
        <activity android:name=".timer.CountUpActivity" />
        <activity
            android:name=".listview.ListViewActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".videoview.MovingActivity" />
        <activity android:name=".recyclerview.HorizontalListActivity" />
        <activity
            android:name=".propertyanimation.PropertyAnimatedActivity"
            android:screenOrientation="portrait" />
        <!-- configure this activity to use landscape orientation -->
        <activity
            android:name=".camera.CameraActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".fragment.ExampleActivity" />
        <activity android:name=".fragment.FragmentRetainInstanceActivity" />
        <activity
            android:name=".picselector.PostActivity"
            android:exported="true"
            android:theme="@style/PicSelector" />
        <activity
            android:name=".gesture.TouchActivity"
            android:exported="true" />
        <activity
            android:name=".swiperefresh.SwipeRefreshActivity"
            android:exported="true" />
        <activity android:name=".realm.RealmActivity" />
        <activity
            android:name=".animation.AnimationActivity"
            android:exported="true"
            android:label="@string/title_activity_animation"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".input.InputActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".emoticons.EmoticonsActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".webview.WebViewActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity android:name=".webview.LocalPageActivity" />
        <activity
            android:name=".printing.PrintingActivity"
            android:exported="true" />
        <activity
            android:name=".popup.PopUpActivity"
            android:exported="true" />
        <activity
            android:name=".event.EventDispatchActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.CustomViewActivity"
            android:exported="true"
            android:label="@string/title_activity_view" />
        <activity
            android:name=".event.TouchEventActivity"
            android:exported="true" />
        <activity
            android:name=".memory.LeakActivity"
            android:exported="true" />
        <activity
            android:name=".layout.RequestDuringLayout"
            android:exported="true" />
        <activity
            android:name=".animation.ListViewAnimations"
            android:exported="true" />
        <activity
            android:name=".thread.WorkerThreads"
            android:exported="true" />
    </application>

</manifest>
