<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.zhang.art">

    <permission
        android:name="me.zhang.art.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal" />
    <uses-permission android:name="me.zhang.art.permission.ACCESS_BOOK_SERVICE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ActivityActivity" />
        <!-- https://developer.android.com/guide/topics/manifest/activity-element.html -->
        <activity
            android:name=".activity.lifecycle.LifecycleActivity"
            android:configChanges="orientation|screenSize" /> <!-- Prevent activity from being recreated -->
        <activity android:name=".activity.lifecycle.AnotherActivity" />
        <activity
            android:name=".activity.lifecycle.DialogActivity"
            android:label="XmlDialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity
            android:name=".activity.standard.StandardActivity"
            android:launchMode="standard" />

        <activity
            android:name=".activity.singleTop.SingleTopActivity"
            android:launchMode="singleTop" />
        <activity android:name=".activity.singleTop.AActivity" />
        <activity android:name=".activity.singleTop.BActivity" />

        <activity
            android:name=".activity.singleTask.SingleTaskActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.singleTask.AlphaActivity" />
        <activity
            android:name=".activity.singleTask.BetaActivity"
            android:launchMode="singleTask"
            android:taskAffinity="me.zhang.art1" />
        <activity
            android:name=".activity.singleTask.GammaActivity"
            android:taskAffinity="me.zhang.art1" />
        <activity
            android:name=".activity.singleTask.AnotherSingleTaskActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.singleInstance.SingleInstanceActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".activity.singleInstance.XActivity" />
        <activity android:name=".activity.singleInstance.YActivity" />
        <activity android:name=".activity.singleInstance.ZActivity" />

        <activity android:name=".activity.flags.FlagsActivity" />
        <activity android:name=".activity.flags.ClearTopActivity" />
        <activity android:name=".activity.flags.MActivity" />
        <activity android:name=".activity.flags.NActivity" />
        <activity android:name=".activity.flags.ExcludeFromRecentsActivity" />

        <activity android:name=".activity.intentfilter.IntentFilterActivity" />
        <activity
            android:name=".activity.intentfilter.Action1Activity"
            android:label="Action1Activity">
            <intent-filter>
                <action android:name="me.zhang.art.OPEN_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:scheme="file" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.intentfilter.Action2Activity"
            android:label="Action2Activity">
            <intent-filter>
                <action android:name="me.zhang.art.OPEN_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="me.zhang.art.category.M" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.intentfilter.Action3Activity"
            android:label="Action3Activity">
            <intent-filter>
                <action android:name="me.zhang.art.ANOTHER_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="me.zhang.art.category.M" />
            </intent-filter>
        </activity>

        <activity android:name=".ipc.IpcActivity" />
        <activity android:name=".ipc.DefaultProcessActivity" />
        <activity
            android:name=".ipc.SecondProcessActivity"
            android:process="me.zhang.art.second" />
        <activity
            android:name=".ipc.ThirdProcessActivity"
            android:process=":third" />

        <service
            android:name=".ipc.parcel.BookManagerService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="me.zhang.art.ipc.parcel.RemoteService" />
            </intent-filter>
        </service>

        <service
            android:name=".ipc.messenger.MessengerService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="me.zhang.art.ipc.messenger.MessengerService" />
            </intent-filter>
        </service>
    </application>

</manifest>