<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.zhang.art">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ActivityActivity" />
        <!-- https://developer.android.com/guide/topics/manifest/activity-element.html -->
        <activity
            android:name=".activity.lifecycle.LifecycleActivity"
            android:configChanges="orientation|screenSize" /> <!-- Prevent activity from being recreated -->
        <activity android:name=".activity.lifecycle.AnotherActivity" />
        <activity
            android:name=".activity.lifecycle.DialogActivity"
            android:label="XmlDialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity
            android:name=".activity.standard.StandardActivity"
            android:launchMode="standard" />

        <activity
            android:name=".activity.singleTop.SingleTopActivity"
            android:launchMode="singleTop" />
        <activity android:name=".activity.singleTop.AActivity" />
        <activity android:name=".activity.singleTop.BActivity" />

        <activity
            android:name=".activity.singleTask.SingleTaskActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.singleTask.AlphaActivity" />
        <activity
            android:name=".activity.singleTask.BetaActivity"
            android:launchMode="singleTask"
            android:taskAffinity="me.zhang.art1" />
        <activity
            android:name=".activity.singleTask.GammaActivity"
            android:taskAffinity="me.zhang.art1" />
        <activity
            android:name=".activity.singleTask.AnotherSingleTaskActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.singleInstance.SingleInstanceActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".activity.singleInstance.XActivity" />
        <activity android:name=".activity.singleInstance.YActivity" />
        <activity android:name=".activity.singleInstance.ZActivity" />

    </application>

</manifest>