<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.zhang.workbench">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="me.zhang.art.BOOK_PROVIDER.WRITE" />
    <uses-permission android:name="me.zhang.art.BOOK_PROVIDER.READ" />

    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".webview.WebViewActivity"
            android:exported="true" />
        <activity
            android:name=".view.VisibilityActivity"
            android:exported="true" />
        <activity
            android:name=".animation.CardFlipActivity"
            android:exported="true" />
        <activity
            android:name=".animation.AnimateLayoutChangesActivity"
            android:exported="true" />
        <activity
            android:name=".animation.LogoWhiteAnimActivity"
            android:exported="true" />
        <activity android:name=".gestures.GesturesActivity" />
        <activity android:name=".layout.LayoutActivity" />
        <activity android:name=".leaks.LeakyActivity" />
        <activity android:name="me.zhang.art.ipc.parcel.ClientActivity" />
        <activity android:name="me.zhang.art.ipc.messenger.MessengerClientActivity" />
        <activity
            android:name="me.zhang.art.ipc.provider.ProviderExternalUserActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name="me.zhang.art.ipc.socket.TcpClientActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".layout.SimpleLayoutActivity" />
        <activity android:name=".view.ViewScrollActivity" />
        <activity android:name=".animation.TranslateActivity" />
        <activity android:name=".view.SmoothScrollActivity" />
        <activity android:name=".touchEvent.TouchEventActivity" />
        <activity android:name=".touchEvent.conflict.HVConflictExternalActivity" />
        <activity android:name=".touchEvent.conflict.HVConflictInternalActivity" />
        <activity android:name=".view.GetViewDimensActivity" />
        <activity android:name=".view.ScrollViewActivity" />
        <activity android:name=".view.CustomViewActivity" />
        <activity
            android:name=".layout.CustomLayoutActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ui.CircleViewActivity" />
        <activity android:name=".remoteViews.NotificationActivity" />
        <activity android:name=".remoteViews.ResultActivity" />
        <activity android:name=".handler.HandlerActivity" />
        <activity android:name=".remoteViews.WidgetActivity" />
        <activity android:name=".design.BottomSheetActivity" />
        <activity android:name=".drawable.LevelListActivity" />
        <activity android:name=".drawable.TransitionActivity" />
        <activity android:name=".retrofit.TestActivity" />
        <activity android:name=".drawable.ScaleDrawableActivity" />
        <activity android:name=".drawable.ClipDrawableActivity" />
        <activity android:name=".drawable.CustomDrawableActivity" />
        <activity android:name=".rx.RxActivity" />

        <receiver android:name=".remoteViews.MyAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_info" />
        </receiver>

        <activity android:name=".layout.ConstraintActivity" />
        <activity android:name=".animation.AnimationsActivity" />
        <activity android:name=".adapter.AdapterActivity" />
        <activity android:name=".design.CustomStyleActivity" />
        <activity android:name=".design.FabActivity" />
        <activity android:name=".animation.RecyclerViewAnimationActivity" />
        <activity android:name=".design.CustomFabActivity" />
        <activity
            android:name=".design.SimplePaperTransformations"
            android:theme="@style/AppThemeOpt" />
        <activity
            android:name=".design.DynamicSurfacesActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name=".animation.LayoutAnimationActivity" />
        <activity android:name=".design.PaletteActivity" />
        <activity
            android:name=".design.font.FontActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".design.image.ImmersiveImagesActivity" />
        <activity android:name=".design.image.RoundedImagesActivity" />
        <activity android:name=".design.image.ThreeTwoImageActivity" />
        <activity android:name=".design.animation.AnimateActivity" />
        <activity android:name=".design.animation.TargetActivity" />
        <activity android:name=".design.transition.GridActivity" />
        <activity
            android:name=".design.transition.DetailActivity"
            android:theme="@style/AppTheme.Details" />
    </application>

</manifest>