<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.zhang.workbench">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".webview.WebViewActivity"
            android:exported="true" />
        <activity
            android:name=".view.VisibilityActivity"
            android:exported="true" />
        <activity
            android:name=".animation.CardFlipActivity"
            android:exported="true" />
        <activity
            android:name=".animation.AnimateLayoutChangesActivity"
            android:exported="true" />
        <activity
            android:name=".animation.LogoWhiteAnimActivity"
            android:exported="true" />
        <activity android:name=".gestures.GesturesActivity" />
        <activity android:name=".layout.LayoutActivity" />
        <activity android:name=".leaks.LeakyActivity" />
        <activity android:name="me.zhang.art.ipc.parcel.ClientActivity" />
        <activity android:name="me.zhang.art.ipc.messenger.MessengerClientActivity" />
    </application>

</manifest>